html {
    font-family: "Tektur", sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-image: linear-gradient( #021226 0%, #0F1E32 100% );
}

#above_the_fold {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

#header-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

#logo {
    width: 90px;
    height: 90px;
    animation: scale-logo 2s infinite;
}
@keyframes scale-logo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

#bike_name {
    text-align: center;
    color: #97C8DF;
    font-size: px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    line-height: 100%;
}

#bike_name span {
    font-size: 20px;
    letter-spacing: 0.2rem;
}

#specs_intro {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#engine_power {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

.engine_power_spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.engine_power_spec img {
    width: 56px;
    height: 56px;
}

.engine_power_spec h2 {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
    color: #97C8DF;
}

.engine_power_spec p {
    text-transform: capitalize;
    letter-spacing: 0.2rem;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #97C8DF;
}

.image-slider {
    display: flex;
    justify-content: center;
    align-items: end;
}

.image-slider img:nth-child(2) {
    width: 450px;
    height: 338px;
    border-radius: 22px;
    margin-left: -64px;
    margin-right: -64px;
    z-index: 1;
}

.image-slider img:nth-child(1) {
    width: 375px;
    height: 280px;
    border-radius: 22px;
    rotate: -10deg;
    opacity: 0.3;
    transition: transform 0.1s linear;
}

.image-slider img:nth-child(1):hover {
    opacity: 0.6;
    transform: scale(1.1);
}

.image-slider img:nth-child(3) {
    width: 375px;
    height: 280px;
    border-radius: 22px;
    rotate: 10deg;
    opacity: 0.5;
    transition: transform 0.1s linear;
}

.image-slider img:nth-child(3):hover {
    opacity: 0.8;
    transform: scale(1.1);
}

#see_more {
    display: flex;
    flex-direction: column;
    gap: -8px;
    align-items: center;
}

#see_more img:nth-child(1) {
    width: 64px;
    height: 64px;
}

#see_more img:nth-child(2) {
    width: 20px;
    height: 20px;
}



#specs_main {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.specs_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 28px 28px;
    align-items: center;
    background-color: rgb(255 255 255/ 4%);
    border: 1px solid rgb(255 255 255/ 10%);
    border-radius: 10px;
    width: fit-content;
}

.spec {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.spec h2 {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    max-width: fit-content;
}

.spec p {
    width: 320px;
    text-align: center;
    letter-spacing: 0.2rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
}

.mid_line {
    background-color: #FFFFFF;
    width: 1px;
    height: 64px;
}

#specs_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specs_row_border_top {
    border-radius: 10px 10px 0px 0px;
}

.specs_row_border_middle {
    border-radius: 0px;
    border-top: none;
}

.specs_row_border_bottom {
    border-radius: 0px 0px 10px 10px;
}

.subtitle {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: #97C8DF;
    margin: 0 0 32px 0;
}


.specs_row_width {
    width: 980px;
}

.specs_row_single {
    justify-content: center;
}

#comment_section {
    display: flex;
    flex-direction: column;
    width: 1038px;
    padding-top: 60px;
    gap: 30px;
}

.comment_section_header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment_section_header_upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment_section_header_upper p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 0;
    color: #FFFFFF;
}

.comment_section_header_upper span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_section_header_upper span p {
    color: #97C8DF;
}

.comment_section_header div:nth-child(2) {
    height: 2px;
    background-color: #FFFFFF;
    opacity: 50%;
}

#comment_box {
    display: flex;
    flex-direction: row;
    width: 1038px;
    gap: 16px;
    align-items: top;
}

.avatar {
    width: 64px;
    height: 64px;
}

#comment_box form {
    flex-grow: 1;
    position: relative;
}

#comment_box form textarea {
    display: flex;
    height: 120px;
    background-color: transparent;
    width: 100%;
    border: 2.5px solid rgb(255 255 255/ 30%);
    border-radius: 16px;
    padding: 16px 16px;
    box-sizing: border-box;
    font-size: 14px;
    color: #FFFFFF;
    font-family: "Tektur", sans-serif;
    margin: 0;
    resize: none;
    line-height: 150%;
}

#comment_box form textarea::placeholder {
    font-family: "Tektur", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.05rem;
    color: #FFFFFF;
    opacity: 0.5;
}

#comment_box form button {
    font-family: "Tektur", sans-serif;
    letter-spacing: 0.05rem;
    box-sizing: border-box;
    padding: 12px 16px;
    border: none;
    background-color: rgba(151,200,223,0.5);
    color: #FFFFFF;
    border-radius: 16px;
    position: absolute;
    right: 12px;
    bottom: 12px;
    box-shadow: 0px 0px 50px 0px rgba(151,200,223,0.2);
}

#comment_box form textarea:focus {
    outline: none;
    border: 2.5px solid #97C8DF;
}


#logins_filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#socials_logins {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#socials_logins p {
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 0.05rem;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
}

#socials {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#socials img {
    width: 28px;
    height: 28px;
}

#comment_filters {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#comment_filters p {
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 0.05rem;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

#comment_filters p:nth-child(1) {
    color: #97C8DF;
    text-decoration: underline;
    text-decoration-thickness: 10%;
    text-underline-offset: 20.5%;
}

#comment_block {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.thread {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.thread_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.initial_comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment_detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.comment_detail p {
    margin: 0;
}

.comment_detail p:nth-child(1) {
    color: #97C8DF;
    font-size: 16px;
    letter-spacing: 0.05rem;
    font-weight: 600;
    text-transform: capitalize;
}

.comment_detail p:nth-child(2) {
    color:rgba(255,255,255,0.7);
    font-size: 14px;
    letter-spacing: 0.05rem;
    font-weight: 400;
}

.comment_detail p:nth-child(3) {
    color:#FFFFFF;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05rem;
    font-weight: 400    ;
}

.like_reply {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.like_dislike {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.thumb_count {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
}

.thumb_icon {
    width: 28px;
    height: 28px;
}

.thumb_count p {
    margin: 0;
    letter-spacing: 0.05rem;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;

}

#reply_link {
    color: #FFFFFF;
    text-transform: capitalize;
    font-weight: 600;
    font-weight: 16px;
    letter-spacing: 0.05rem;
    margin: 0;
}